<!--
<%@count = 1; previous_keyword = "" %>
		<% @shipment_records.each do |shipment| %>
			<tr>
				<th scope="row"><a href=<%= "/collator/port_examiner#{shipment.url}" %> target ="_blank"><%="#{@count}" %> </a> </th>

				<td><%= shipment.shipper %></td>
				<td><a href=<%="https://www.google.com/search?q=#{shipment.consignee != nil ? CGI.escape(shipment.consignee) : 'tempus.com'}"%> target="_blank"><%= shipment.consignee %></a></td>
				<td><%= shipment.origin %></td>
				<td><%= shipment.destination %></td>
				<td><%= shipment.date %></td>
				<td><button class="btn btn-primary" type="button" onclick="searchExpand(<%="'searchExpand#{@count}','#{shipment.consignee}'"%>);"data-toggle="collapse" data-target=<%="#searchExpand#{@count}"%> aria-expanded="false" aria-controls="searchExpand" >Deep Search</button></td>
				</tr>
				<tr>
				<td><div class="collapse" id=<%="searchExpand#{@count}"%>>
					<div class="card card-body">
						Loading
					</div>
				</div>
				</td>
				
				
			</tr>
			<% @count +=1 %>

		<% end %>

-->

