<h3>we searched for <%= "#{@keywords.join(", ")} in #{@t} seconds" %></h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Keyword</th>
		<!--	<th scope="col">Title</th> -->
			<th scope="col">Shipper</th>
			<th scope="col">Cosignee</th>
			<th scope="col">Origin</th>
			<th scope="col">Destination</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	<tbody>
		<%@count = 1; previous_keyword = "" %>
		<% @chart.each do |key, shipment_set| %>
			<%shipment = shipment_set.first %>
			<%if previous_keyword != shipment.keyword%>
				<%previous_keyword = shipment.keyword%>
				<%@count = 1 %>
			<%end%>
			<tr>
				<th scope="row"><a href=<%= shipment.url %> target ="_blank"><%="#{shipment.keyword} #{@count}" %> </a> </th>
			<!--	<td><a href= <%= key[2] %> target="_blank"><%=key[2]%></a></td> -->
				<td><%= shipment.shipper %></td>
				<td><a href=<%="https://www.google.com/search?q=#{CGI.escape(key)}"%> target="_blank"><%= key %></a></td>
				<td><%= shipment.origin %></td>
				<td><%= shipment.destination %></td>
				<td><%= shipment.date %></td>
				
			</tr>
			<% @count +=1 %>

		<% end %>

	</tbody>
</table>