<h3>we searched for <%= @keywords.join(", ") %></h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
		<!--	<th scope="col">Title</th> -->
			<th scope="col">Shipper</th>
			<th scope="col">Cosignee</th>
			<th scope="col">Origin</th>
			<th scope="col">Destination</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	<tbody>
		<% @chart.each do |key, info| %>
			<tr>
				<th scope="row"><a href=<%= key[2] %> target ="_blank"><%="#{key[1]} #{key[0]}" %> </a> </th>
			<!--	<td><a href= <%= key[2] %> target="_blank"><%=key[2]%></a></td> -->
				<td><%= info[0] %></td>
				<td><a href=<%="https://www.google.com/search?q=#{CGI.escape(info[1])}"%> target="_blank"><%= info[1] %></a></td>
				<td><%= info[2] %></td>
				<td><%= info[3] %></td>
				<td><%= info[4] %></td>

			</tr>
		

		<% end %>

	</tbody>
</table>