<!DOCTYPE html>
<html>
<head>
  <title>Portexaminer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="/collator">Port Examiner Collator</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="/">Home</a></li>
      		<li><a href="port_examiner">Port Examiner Classic</a></li>

    </ul>
  </div>
</nav>
<div class="container">
  <h3>Search for multiple keywords at once</h3>
<%= form_tag("/collator/search", method: "get", class: "form-group") do %>
  <%= label_tag(:keywords,"Enter search terms separated by commas") %>
  <%= text_field_tag(:keywords,"#{params[:keywords]}", class: "form-control") %>
  <%= submit_tag("Search", class: "btn btn-default") %><br>
  <%= check_box_tag(:remove_subsidiaries,"", checked = @was_checked ) %>
  <%= label_tag(:remove_subsidiaries, "Remove companies shipping to their subsidiaries") %>

<% end %> 
	<%= yield %>
</div>

</body>
</html>
